* {
  box-sizing: border-box;
  scrollbar-width: thin;
}

.first-screen {
  width: 100dvw;
  height: 100dvh;
  background: #000000;
  color: #1d1d1d;
  font-size: 60px;
  font-weight: bold;
  display: grid;
  place-content: center;
}
